<p>booking-form-owner works!</p>
<form [formGroup]="ownerForm">
  <h3>Owner</h3>
  <label for="firstName">First Name: </label>
  <input id="firstName" type="text" formControlName="firstName" />

  <label for="lastName">Last Name: </label>
  <input id="lastName" type="text" formControlName="lastName" />

  <label for="email">Email: </label>
  <input id="email" type="text" formControlName="email" />

  <label for="phoneNumber">Phone Number: </label>
  <input id="phoneNumber" type="text" formControlName="phoneNumber" />

</form>