<div class="container-fluid my-5" style="max-width: 992px">
  <div class="card">
    <h3 class="card-header">Quick Check-In</h3>

    <div class="card-body overflow-auto bg-light">
      <table class="table table-hover table-light" style="min-width: 768px">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Checked In</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!bookings">
            <div class="clearfix bg-light">
              <div class="spinner-border spinner-border-sm text-primary">
                <span class="visually-hidden">Loading...</span>
              </div>
              Loading...
            </div>
          </tr>
          <tr
            *ngFor="
              let booking of sortBookingsByStartDate(getTodayBookings(bookings))
            "
          >
            <td>
              {{ booking.owner.firstName }} {{ booking.owner.lastName }}
              {{ booking.id }}
            </td>
            <td>
              <i
                [ngClass]="{
                  'bi-check-circle-fill text-primary': booking.checkedIn,
                  'bi-x-circle-fill text-danger': !booking.checkedIn,
                  'bi fs-3 align-middle': true
                }"
              >
              </i>
              <button
                (click)="startCheckIn(booking)"
                type="button"
                class="btn btn-primary mx-2 align-middle"
                *ngIf="!booking.checkedIn"
                style="width: 128px"
                [disabled]="isBookingCheckInInProgress(booking)"
              >
                <div *ngIf="!isBookingCheckInInProgress(booking)">Check In</div>

                <div *ngIf="isBookingCheckInInProgress(booking)">
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Loading...
                </div>
              </button>
            </td>
            <td>{{ booking.startDate | date : "short" }}</td>
            <td>{{ booking.endDate | date : "short" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
